<!DOCTYPE html>
<html>
  <head>
    <title>User2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User2</h1>
    <a href="form-add"><button>Them</button></a><br><br>
    <table border="1">
      <tr>
      <th>EnableFCM</th>
      <th>Avatar</th>
      <th>Banner</th>
      <th>Fullname</th>
      <th>TypeUser</th>
      <th>IdProvince</th>
      </tr>
      <% lops.forEach(item => { %>
       <tr>
        <td><%= item._EnableFCM %> </td>
        <td><%= item.Avatar %> </td>
        <td><%= item.Banner %> </td>
        <td><%= item.Fullname %> </td>
        <td><%= item.TypeUser %> </td>
        <td><%= item.IdProvince %> </td>
        <td><a href="/form-update/<%= item._id %>">Sửa</a>||<a href="/form-delete/<%= item._id %>">Xóa</a></td>
      </tr>
      <% }) %>
    </table>
  </body>

</html>
